<footer>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="footer__nav">
                    <div class="footer__logo">
                        <a href="#">
                            <img src="assets/images/logo.svg" alt="">
                        </a>
                    </div>
                    <div class="two__line"></div>
                    <nav class="main__nav">
                        <ul>
                            <li>
                                <a href="#">Ціни та Розклад</a>
                            </li>
                            <li>
                                <a href="#">Додаткові послуги</a>
                                <ul class="sub">
                                    <li>
                                        <a href="#">Доставка харчування</a>
                                    </li>
                                    <li>
                                        <a href="#">Послуги масажиста</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Блог</a>
                            </li>
                            <li>
                                <a href="#">Контакти</a>
                            </li>
                            <li>
                                <a href="trainers.html">Тренери</a>
                            </li>
                            <li>
                                <a href="#">Галерея</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="copyright">
                    <p>Lviv Garage gym 2017 ©</p>
                </div>
                <div class="social__links">
                    <a href="#" class="fb"></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="assets/js/slick.min.js"></script>
<script src="assets/js/aos.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmHhuLe_5zrHk3zvP4sE82ij39ETGc0r0"></script>
<script src="assets/js/main.min.js"></script>