<div class="loader__wrapper">
    <div class="loader__image">
        <img src="assets/images/loader-logo.svg" alt="">
    </div>
</div>
<header id="header" class="dark">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="header__logo">
                    <a href="index.html">
                        <img src="assets/images/logo.png" alt="">
                    </a>
                </div>
                <nav class="main__nav">
                    <ul>
                        <li>
                            <a href="prices.html">Ціни та Розклад</a>
                        </li>
                        <li>
                            <a href="#">Додаткові послуги</a>
                            <ul class="sub">
                                <li>
                                    <a href="#">Доставка харчування</a>
                                </li>
                                <li>
                                    <a href="massage.html">Послуги масажиста</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="blog.html">Блог</a>
                        </li>
                        <li>
                            <a href="contacts.html">Контакти</a>
                        </li>
                        <li>
                            <a href="trainers.html">Тренери</a>
                        </li>
                        <li>
                            <a href="gallery.html">Галерея</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="menu__btn">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="mobile__menu">
        <nav class="main__nav">
            <ul>
                <li>
                    <a href="prices.html">Ціни та Розклад</a>
                </li>
                <li>
                    <a href="#">Додаткові послуги</a>
                    <ul class="sub">
                        <li>
                            <a href="#">Доставка харчування</a>
                        </li>
                        <li>
                            <a href="massage.html">Послуги масажиста</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="blog.html">Блог</a>
                </li>
                <li>
                    <a href="contacts.html">Контакти</a>
                </li>
                <li>
                    <a href="trainers.html">Тренери</a>
                </li>
                <li>
                    <a href="gallery.html">Галерея</a>
                </li>
            </ul>
        </nav>
    </div>
</header>