footer{
    background: #000000;
    padding: 56px 0 62px;
    .copyright{
        float: left;
        margin-top: 23px;
        p{
            margin-bottom: 0;
            color: #FFFFFF;
            font-weight: bold;
            line-height: normal;
            font-size: 17px;
            text-transform: uppercase;
            text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
        }
    }
    .footer__nav{
        width: 100%;
        float: left;
        margin-bottom: 30px;
    }
    .footer__logo{
        float: left;
    }
    .two__line{ 
        position: absolute;
        width: 134px;
        height: 156px;
        top: -56px;
        left: 22%;
        background-image: url('../images/two_line_1.png');
    }
    .main__nav{
        margin-top: 0;
    }
    .social__links{
        float: right;
        a{
            width: 43px;
            height: 43px;
            display: inline-flex;
            border-radius: 5px;
            margin-left: 5px;
            &.fb{
                background-image: url('../images/fb.png');
            }
            &.in{
                background-image: url('../images/instagram.png');
            }
            &:hover{
                opacity: 0.6;
            }
        }
    }
}
