@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&subset=cyrillic');

body{
    font-family: 'Rubik', sans-serif;
    background-color: #fff;
    color: #000;
    font-size: 14px;
    line-height: 24px;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
    padding-left: 2.5px;
    padding-right: 2.5px;
}
img{
    max-width: 100%;
    height: auto;
}
a{
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.btn.focus, .btn:focus{
    box-shadow: none;
}
a.green-btn{
    display: block;
    background: #A0CA50;
    border-radius: 20px;
    font-weight: 500;
    line-height: normal;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0.1175em;
    text-transform: uppercase;
    color: #fff;
    border: 2px solid #A0CA50;
    &.big{
        min-width: 175px;
        line-height: 49px;
        // padding: 15.5px 52px;
    }
    &.small{
        max-width: 135px;
        line-height: 34px;
        // padding: 15.5px 52px;
    }
    &:hover{
        text-decoration: none;
        background-color: #fff;
        color: #A0CA50;
    }
}
main{
    width: 100%;
    overflow-y: hidden;
}
.show__mobile{
    display: none!important;
}
iframe{
    width: 100%;
}
.no__content{
    margin: 100px 0 120px;
    h1{
        text-transform: uppercase;
        font-size: 52px;
        font-weight: 700;
        color: #000;
    }
}
@include media-breakpoint-down(md) {
    .show__mobile{
        display: block!important;
    }
}
/*Main slider*/
.main__slider{
    position: relative;
    .slick-dots{
        position: absolute;
        bottom: 50px;
        width: 100%;
        max-width: 1140px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        padding: 0 7.5%;
        margin: auto;
        z-index: 10;
        li{
            display: inline-flex;
            float: left;
            margin: 0 8.5px;
            &.slick-active{
                button{
                    background-color: #A0CA50;
                }
            }
            button{
                width: 15px;
                height: 15px;
                border-radius: 50%;
                border: none;
                background-color: #FFFFFF;
                color: transparent;
                outline: none;
                cursor: pointer;
            }
        }
    }
    .slide{
        min-height: 100vh;
        width: 100%;
        background-size: cover;
        background-position: top center;
        position: relative;
        outline: none;
        .slide__content{
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            text-align: left;
            img{
                margin-bottom: 42px;
                opacity: 0;
                -webkit-transform: translateX(-150px);
                transform: translateX(-150px);
                -webkit-transition: all 1s ease;
                transition: all 1s ease;
            }
            h2{
                font-weight: bold;
                line-height: normal;
                font-size: 64px;
                text-transform: uppercase;
                color: #FFFFFF;
                opacity: 0;
                -webkit-transform: translateX(-150px);
                transform: translateX(-150px);
                -webkit-transition: all 1s ease;
                transition: all 1s ease;
            }
            p{
                font-weight: normal;
                line-height: 51px;
                font-size: 35px;
                color: #FFFFFF;
                opacity: 0;
                -webkit-transform: translateX(-150px);
                transform: translateX(-150px);
                -webkit-transition: all 1s ease;
                transition: all 1s ease;
            }
        }
    }
    .slick-active{
        .slide__content{
            img{
                opacity: 1;
                -webkit-transform: translateX(0);
                transform: translateX(0);
                -webkit-transition-delay: 0.5s;
                transition-delay: 0.5s;
            }
            h2{
                opacity: 1;
                -webkit-transition-delay: 0.8s;
                transition-delay: 0.8s;
                -webkit-transform: translateX(0);
                transform: translateX(0);
            }
            p{
                opacity: 1;
                -webkit-transition-delay: 1.1s;
                transition-delay: 1.1s;
                -webkit-transform: translateX(0);
                transform: translateX(0);
            }

        }
        
    }
}
@media screen and (max-height: 550px){
    .main__slider .slide .slide__content img{
        display: none;
    }
    .main__slider .slide .slide__content h2{
        font-size: 38px;
    }
    .main__slider .slide .slide__content p{
        font-size: 22px;
        line-height: 28px;
    }
}
/*Post Item*/
.one__line{
    width: 107px;
    height: 107px;
    display: block;
    position: absolute;
    top: -60px;
    left: 60px;
    background-image: url('../images/one_line.png');
}
.two__line{
    width: 134px;
    height: 144px;
    display: block;
    position: absolute;
    top: -60px;
    right: 147px;
    background-image: url('../images/two_line.png');
    &.bottom{
        top: -73px;
        right: -10px;
    }
    &.top{
        top: -68px;
        left: -67px;
    }
}
section{
    &.grey__section{
        background: rgba(56,56,56,0.03);
    }
    background-size: cover;
    background-position: center;
    padding: 60px 0;
    &.padding{
        padding: 90px 0;
    }
    h2{
        font-weight: bold;
        line-height: normal;
        font-size: 64px;
        text-align: left;
        text-transform: uppercase;
        color: #323232;
        margin-bottom: 30px;
        &.white{
            color: #fff;
        }
    }
}
.post__item{
    text-align: left;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-bottom: 10px;
    &:hover{
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    }
    .post__info{
        padding: 31px 35px;
        height: 314px;
        border: 1px solid #EAEAEA;
        box-sizing: border-box;
    }
    h3{
        font-weight: bold;
        line-height: normal;
        font-size: 21px;
        text-transform: uppercase; 
        color: #323232;
        margin-bottom: 0;
        &::after{
            content: '';
            display: block;
            width: 43px;
            height: 4px;
            margin: 13px 0 12px;
            background: #A0CA50;
            border-radius: 13px;
        }
    }
    p{
        font-weight: 300;
        line-height: 22px;
        font-size: 17px;
        color: #0F0F0F;
    }
    a{
        position: absolute;
        bottom: 42px;
        left: 35px;
    }
    &:hover{
        .post__thumb::before{
            background: transparent;
        }
    }
}
.post__thumb{
    width: 100%;
    height: 193px;
    background-size: cover;
    background-position: center;
    position: relative;
    &::before{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(160, 202, 80, 0.3);
        background-size: cover;
        background-position: center;
        z-index: 1;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
}
@include media-breakpoint-down(xs) {
    .main__slider .slide .slide__content img{
        margin-bottom: 20px;
    }
    .main__slider .slide .slide__content h2{
        font-size: 40px;
    }
    .main__slider .slide .slide__content p{
        font-size: 16px;
        line-height: 24px;
    }
    .main__slider .slick-dots{
        bottom: 30px;
    }
}
@include media-breakpoint-down(md) {
    section h2{
        font-size: 38px;
    }
    .one__line, .two__line{
        left: 0;
        top: -30px;
    }
    section{
        padding: 30px 0;
    }
    section.padding{
        padding: 60px 0;
    }
    .post__item .post__info{
        padding: 31px 35px 110px;
        height: auto;
    }
}
/*Benefits section*/
.benefits{
    width: 100%;
    height: 271px;
    &.text{
        position: relative;
        background-color: #fff;
    }
    .text-block{
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 0 45px;
        h5{
            font-weight: bold;
            line-height: normal;
            font-size: 21px;
            text-transform: uppercase;
        }
        p{
            font-weight: 300;
            line-height: 22px;
            font-size: 17px;
            color: #0F0F0F;

        }
    }
    .image__block{
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        position: relative;
        &::before{
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(160, 202, 80, 0.4);
            background-size: cover;
            background-position: center;
            z-index: 1;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }
        &:hover{
            &::before{
                background: transparent;
            }
        }
    }
}
/*Waiting section*/
.waiting_section{
    h2{
        margin-bottom: 0px;
    }
    .text-block{
        p{
            font-weight: normal;
            line-height: 51px;
            font-size: 35px;
            color: #FFFFFF;
        }
        a{
            margin-top: 39px;
        }
    }
}
.btn{
    border: 4px solid #A0CA50;
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    &.big{
        padding: 24px 59.5px;
    }
    &.transparent{
        color: #FFFFFF;
        &:hover{
            background-color: #A0CA50;
        }
    }
}
@include media-breakpoint-down(md) {
    .waiting_section .text-block p{
        font-size: 22px;
        line-height: 28px;
    }
    .btn.big{
        padding: 16px 36.5px;
    }
}
/*Page banner*/
.page__banner{
    width: 100%;
    height: 520px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-color: #F9F9F9;
    &.small{
        height: auto;
        min-height: 170px;
        .banner__content{
            h1{
                color: #323232;
                margin-bottom: 0;
            }
        }
    }
    .banner__content{
        width: 100%;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        h1{
            font-weight: bold;
            line-height: normal;
            font-size: 64px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        h2{
            font-style: normal;
            font-weight: bold;
            line-height: normal;
            font-size: 64px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        p{
            font-style: normal;
            font-weight: normal;
            line-height: 51px;
            font-size: 35px;
            color: #FFFFFF;
            i{
                font-weight: 300;
                line-height: 51px;
                font-size: 35px;
            }
        }
        .post__details{
            font-weight: 300;
            line-height: 22px;
            font-size: 12px;
            color: #FFFFFF;
            display: block;
            margin-top: 60px;
        }
    }
}
a.back{
    font-weight: 500;
    line-height: normal;
    font-size: 17px;
    text-transform: uppercase;
    color: #A0CA50;
    display: inline-block;
    margin-bottom: 21px;
    &::before{
        content: '';
        display: inline-block;
        float: left;
        width: 12px;
        height: 15px;
        margin: 3px 10px 0 0;
        background-image: url('../images/triangle.png');
    }
    &:hover{
        text-decoration: none;
        opacity: 0.7;
    }
}
@include media-breakpoint-down(md) {
    .page__banner{
        height: 400px;
    }
    .page__banner .banner__content h1,
    .page__banner .banner__content h2{
        font-size: 42px;
    }
    .page__banner .banner__content p,
    .page__banner .banner__content p i{
        line-height: 32px;
        font-size: 22px;
    }
}
/*Trainers*/
.page__excerpt{
    padding: 50px 0;
    position: relative;
    &.grey__section{
        background-color: #F9F9F9;
    }
    p{
        font-weight: 300;
        line-height: 22px;
        font-size: 17px;
        color: #0F0F0F;
        margin-bottom: 0;
    }
}
.page__content{
    padding: 38px 0 70px;
    position: relative;
    &.grey__section{
        background-color: #F9F9F9;
    }
    &.padding{
        padding: 68px 0 70px;
        .one__line{
            top: -68px;
        }
    }
    &.nopadding{
        padding: 0;
    }
    .one__line{
        top: -38px;
        margin-left: -13.9%;
    }
    .page__title{
        margin-bottom: 33px;
    }
    h1{
        font-weight: bold;
        line-height: normal;
        font-size: 64px;
        text-transform: uppercase;
        color: #323232;
    }
    p{
        font-weight: 300;
        line-height: 22px;
        font-size: 17px;
        color: #0F0F0F;
    }
}
.trainer__block{
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.147362);
    margin-bottom: 5px;
    &:hover{
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    }
    &.no__hover{
        .thumb{
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
        }
    }
    .thumb{
        width: 100%;
        height: 312px;
        background-size: cover;
        background-position: center;
        -webkit-transition: all .3s linear;
        transition: all .3s linear;
    }
    .info__block{
        padding: 30px;
        h3{
            font-weight: bold;
            line-height: normal;
            font-size: 21px;
            text-transform: uppercase;
            color: #323232;
        }
        p{
            font-weight: 300;
            line-height: 22px;
            font-size: 17px;
            color: #0F0F0F;
        }
    }
}
.page__bottom{
    background-size: cover;
    background-position: center;
    padding: 48px 0 75px;
    &.padding{
        padding: 80px 0 75px;
    }
    &.nobackground{
        h2{
            color: #262626;
        }
        p{
            color: #262626;
        }
        a{
            color: #262626;
            &:hover{
                opacity: 0.8;
                text-decoration: none;
            }
        }
    }
    h2{
        font-weight: bold;
        line-height: normal;
        font-size: 64px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    h3{
        font-weight: bold;
        line-height: normal;
        font-size: 45px;
        color: #fff;
        margin-bottom: 40px;
    }
    p{
        font-weight: normal;
        line-height: normal;
        font-size: 35px;
        color: #fff;
        margin-bottom: 0;
    }
    a{
        color: #fff;
        &:hover{
            // opacity: 0.8;
            text-decoration: none;
        }
        &.btn{
            margin-top: 39px;
        }
    }
}
@include media-breakpoint-down(md) {
    .page__content h1{
        font-size: 36px;
    }
    .page__bottom h2{
        font-size: 40px;
    }
    .page__bottom p{
        font-size: 26px;
    }
}
/*Trainer detail*/
.trainer__details{
    .thumb{
        width: 100%;
        height: 415px;
        background-size: cover;
        background-position: center;
    }
}
.info__block{
    padding: 37px 0 0 60px;
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        li{
            font-weight: bold;
            line-height: normal;
            font-size: 21px;
            text-transform: uppercase;
            color: #323232;
            margin-bottom: 20px;
        }
    }
    p{
        font-weight: 300;
        line-height: 22px;
        font-size: 17px;
        color: #0F0F0F;
        &.title{
            font-weight: bold;
            line-height: normal;
            font-size: 21px;
            text-transform: uppercase;
            color: #323232;
        }
    }
    ul.social__links{
        margin: 46px 0 0 0;
        padding: 0;
        list-style: none;
        li{
            margin-bottom: 0;
        }
        a{
            width: 43px;
            height: 43px;
            display: inline-flex;
            &.fb{
                background-image: url('../images/fb_green.png');
            }
            &:hover{
                opacity: 0.7;
            }
        }
    }
}
.trainer__info{
    margin-top: 56px;
    margin-bottom: 50px;
    p{
        font-weight: 300;
        line-height: 22px;
        font-size: 17px;
        color: #0F0F0F;
    }
}
/*Contacts*/
.contact__block{
    padding: 30px 0 0px;
    h5{
        font-weight: bold;
        line-height: normal;
        font-size: 21px;
        text-transform: uppercase;
        color: #323232;
    }
    p{
        font-weight: 300;
        line-height: 22px;
        font-size: 17px;
        color: #0F0F0F;
    }
}
.map{
    width: 100%;
    height: 600px;
    .map-wrapper{
        width: 100%;
        height: 100%;
    }
}
/*Blog*/
.blog__navigation{
    width: 100%;
    float: left;
    margin: 40px 0;
    .posts__count{
        font-weight: 300;
        line-height: 22px;
        font-size: 17px;
        color: #0F0F0F;
        float: left;
        display: block;
        margin-top: 12px;
    }
    .navigation__block{
        float: right;
        list-style: none;
        padding: 0;
        margin: 0;
        li{
            display: inline-flex;
            >span,
            a{
                min-width: 47px;
                height: 47px;
                display: block;
                line-height: 45px;
                text-align: center;
                background: #fff;
                border: 1px solid #fff;
                box-sizing: border-box;
                box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.147362);
                font-weight: 500;
                font-size: 15px;
                text-transform: uppercase;
                color: #000;
                margin: 0 3px;
            }
            >span.current,
            a.active,
            a:hover{
                background: #A0CA50;
                border: 1px solid #EAEAEA;
                color: #fff;
                text-decoration: none;
            }
            a.prev,
            a.next{
                padding: 0 20px;
            }
        }
    }
}
.blog__wrapper {
    display: inline-flex;
    margin: 0 15px;
    .post__item{
        width: 100%;
        height: 266px;
        display: block;
        margin: 2.5px 0;
        &:hover .post__info h6{
            color: #A0CA50;
        }
        &.no__hover{
            .post__thumb{
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
            }
        }
        .post__thumb{
            width: 40%;
            height: 100%;
            float: left;
            -webkit-transition: all 0.3s linear;
            transition: all 0.3s linear;
            &:before{
                display: none;
            }
        }
        .post__info{
            width: 60%;
            height: 100%;
            padding: 20px 30px;
            float: left;
            span{
                font-weight: 300;
                line-height: 22px;
                font-size: 12px;
                color: #909090;
            }
            h6{
                font-weight: 500;
                line-height: normal;
                font-size: 17px;
                color: #323232;
                margin: 11px 0 15px;
                -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;
            }
            p{
                font-weight: 300;
                line-height: 22px;
                font-size: 17px;
                color: #0F0F0F;
            }
        }
    }
}
.related__wrapper{
    .post__item{
        width: 100%;
        height: 266px;
        display: block;
        margin: 2.5px 0;
        &:hover .post__info h6{
            color: #A0CA50;
        }
        .post__thumb{
            width: 40%;
            height: 100%;
            float: left;
            &:before{
                display: none;
            }
        }
        .post__info{
            width: 60%;
            height: 100%;
            padding: 20px 30px;
            float: left;
            span{
                font-weight: 300;
                line-height: 22px;
                font-size: 12px;
                color: #909090;
            }
            h6{
                font-weight: 500;
                line-height: normal;
                font-size: 17px;
                color: #323232;
                margin: 11px 0 15px;
                -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;
            }
            p{
                font-weight: 300;
                line-height: 22px;
                font-size: 17px;
                color: #0F0F0F;
            }
        }
    }
}
@include media-breakpoint-down(xs) {
    .related__wrapper .post__item,
    .blog__wrapper .post__item{
        float: left;
        height: auto;
        margin-top: 0;
        margin-bottom: 10px;
        .post__thumb{
            width: 100%;
            height: 300px;
        }
        .post__info{
            width: 100%;
            height: auto;
            overflow: hidden;
        }
    }
}
/*Post*/
.post__content{
    margin: 50px 0 20px;
    position: relative;
    p{
        font-weight: 300;
        line-height: 22px;
        font-size: 17px;
        color: #0F0F0F;
        margin-bottom: 50px;
    }
    ul{
        margin: 0;
        padding: 0 0 0 18px;
    }
    h5{
        font-weight: 500;
        line-height: 22px;
        font-size: 17px;
        color: #0F0F0F;
        margin-bottom: 0;
    }
    hr{
        border-top: 1px solid #61A31C;
    }
    .post__share{
        position: absolute;
        left: 50px;
        top: 10%;
        span{
            width: 77px;
            height: 77px;
            margin-right: 0;
            margin-bottom: 10px;
            cursor: pointer;
        }

    }
}

b{
    font-weight: 500;
}
figure{
    p{
        margin-bottom: 12px!important;
    }
}
figcaption{
    font-style: italic;
    font-weight: 300;
    line-height: 22px;
    font-size: 12px;
    text-align: center;
    color: #909090;
}
.post__share{
    h5{
        font-weight: 500;
        line-height: normal;
        font-size: 17px;
        color: #323232;
        margin-bottom: 22px;
    }
    ul{
        width: 100%;
        float: left;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    span{
        width: 43px;
        height: 43px;
        display: block;
        float: left;
        margin-right: 14px;
        background-size: cover;
        cursor: pointer;
        &.google{
            background-image: url('../images/google.png');
        }
        &.twitter{
            background-image: url('../images/twitter.png');
        }
        &.facebook{
            background-image: url('../images/facebook.png');
        }
        &:hover{
            opacity: 0.7;
        }
    }
}
.related__post{
    padding: 50px 0 60px;
    background: #F9F9F9;
    h4 {
        font-weight: bold;
        line-height: normal;
        font-size: 45px;
        color: #000000;
        margin-bottom: 52px;
    }
}
.more__posts{
    font-weight: 500;
    line-height: normal;
    font-size: 17px;
    text-transform: uppercase;
    color: #A0CA50;
    display: inline-flex;
    margin: 32px 0 0 0;
    &::after{
        content: '';
        margin: 2px 0 0 15px;
        display: block;
        width: 13px;
        height: 15px;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        background-image: url('../images/triangle.png');
    }
    &:hover{
        text-decoration: none;
        opacity: 0.7!important;
        color: #A0CA50;
    }
}
@include media-breakpoint-down(md) {
    .post__content .post__share{
        display: none;
    }
}
/*Gallery*/
.gallery__slider{
    .slide{
        width: 100%;
        height: 880px;
        background-size: cover;
        background-position: top center;
        position: relative;
        outline: 0;
    }
    .slick-arrow{
        width: 61px;
        height: 61px;
        display: block;
        position: absolute;
        z-index: 1;
        border-radius: 50%;
        border: none;
        color: transparent;
        overflow: hidden;
        outline: none;
        cursor: pointer;
        background: #F5F5F5;
        border: 1px solid #FFFFFF;
        box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.5);
        top: 50%;
        margin-top: -30.5px;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        &::after{
            content: '';
            width: 9px;
            height: 20px;
            display: block;
            background-image: url('../images/triangle_grey.png');
            margin: auto;
            position: absolute;
            top: 20px;
            left: 22px;
        }
        &.slick-prev{
            left: 15%;
            &:hover{
                &::after{
                    -webkit-transform: rotate(180deg);
                    transform: rotate(180deg);
                    background-image: url('../images/triangle_white.png');
                }
                
            }
        }
        &.slick-next{
            right: 15%;
            &::after{
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
                top: 20px;
                left: 27px;
            }
            &:hover{
                -webkit-transform: rotate(0);
                transform: rotate(0);
                &::after{
                    -webkit-transform: rotate(0deg);
                    transform: rotate(0deg);
                    background-image: url('../images/triangle_white.png');
                }
                
            }
        }
        &:hover{
            background: #A0CA50;
        }
    }
}

/*Price*/
.table__price{
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.147362);
    border-bottom: 4px solid #A0CA50;
    margin-bottom: 10px;
    .table__header{
        .table__row{
            .table__cell{
                .cell__content{
                    padding: 40px 10px;
                    text-transform: uppercase;
                    color: #fff;
                    font-weight: bold;
                    font-size: 27px;
                    background-color: #A0CA50;
                    i{
                        display: inline-flex;
                        width: 16px;
                        height: 16px;
                        margin: -2px 3px 0 3px;
                        background-image: url('../images/people.png');
                    }
                }
            }
        }
    }
    .table__body{
        padding: 50px 0;
    }
    .table__row{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -2.5px;
        position: relative;
        .table__cell{
            padding: 0 2.5px;
            flex-basis: 0;
            flex-grow: 1;
            max-width: 100%;
            position: relative;
            text-align: center;
            .cell__content{
                padding: 20px 10px;
                font-weight: bold;
                font-size: 27px;
                text-align: center;
                text-transform: uppercase;
                color: #000000;
                span{
                    color: #A0CA50;
                }
                &.green{
                    background-color: #F9F9F9;
                }
            }
        }
        .table__cell__label{
            width: 180px;
            height: 48px;
            padding: 0 28px;
            position: absolute;
            left: -130px;
            top: 8px;
            display: block;
            text-align: left;
            color: #fff;
            font-weight: 500;
            line-height: 48px;
            font-size: 19px;
            background: #595959;
            -webkit-clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 0 100%, 0 0);
            z-index: 100;
        }
    }
}
@include media-breakpoint-down(md) {
    .table__price .table__row .table__cell__label{
        width: 130px;
        font-size: 12px;
        left: -20px;
    }
}
@include media-breakpoint-down(xs) {
    .table__price .table__row .table__cell__label{
        width: 110px;
        height: 36px;
        line-height: 36px;
        font-size: 10px;
        left: -10px;
    }
}
/*Timetable*/
.table__timetable{
    width: 100%;
    border: 1px solid #EAEAEA;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.147362);
    .table__header{
        width: 100%;
        padding: 0px 40px 0px 25px;
        height: 55px;
        background-color: #A0CA50;
        .table__row{
            display: flex;
            .table__cell{
                flex-basis: 0;
                flex-grow: 1;
                max-width: 100%;
                text-align: left;
                font-weight: bold;
                line-height: 55px;
                font-size: 21px;
                text-transform: uppercase;
                color: #323232;
                text-align: center;

            }
        }
    }
    .table__body{
        width: 100%;
        // padding: 9px 39px 9px 24px;
        display: flex;
        .table__column{
            flex-basis: 0;
            flex-grow: 1;
            &:first-child(){
                .table__cell{
                    text-align: left;
                    padding: 0 25px;
                    background-color: transparent;
                }
            }
            .table__cell{
                height: 42px;
                line-height: 42px;
                max-width: 100%;
                text-align: center;
                font-weight: bold;
                font-size: 21px;
                text-transform: uppercase;
                color: #323232;
                padding: 1px 2px;
                .cell__content{
                    width: 100%;
                    height: 100%;
                    display: block;
                    background-color: #F9F9F9;
                    text-align: center;
                    font-weight: bold;
                    font-size: 9px;
                    text-transform: uppercase;
                    color: #323232;
                    a{
                        color: #323232;
                        &:hover{
                            color: #A0CA50;
                            text-decoration: none;
                        }
                    }
                }
                &:first-child(){
                    background-color: #A0CA50;
                    height: 55px;
                    line-height: 55px;
                    margin-bottom: 15px;
                }
            }
        }
    }
    .table__footer{
        width: 100%;    
        .table__row{
            display: flex;
            .table__cell{
                flex-basis: 0;
                flex-grow: 1;
                max-width: 100%;
                line-height: 55px;
                height: 55px;
                background-color: #A0CA50;
            }
        }
    }
}
.contact__form{
    width: 100%;
    float: left;
    margin-top: 28px;
    form{
        width: 100%;
        float: left;
        background-color: #fff;
        padding: 40px;
        .col__half{
            width: 50%;
            float: left;
            padding: 0 10px;
        }
        label{
            width: 100%;
            float: left;
            margin-bottom: 15px;
            font-weight: 500;
            line-height: normal;
            font-size: 21px;
            color: #323232;
            span{
                width:100%;
                float: left;
                margin-top: 5px;
                position: relative;
            }
            
        }
        input, select{
            width: 100%;
            float: left;
            padding: 0 20px;
            height: 60px;
            line-height: 60px;
            font-weight: 300;
            font-size: 17px;
            color: #0F0F0F;
            border: 1px solid #DDDDDD;
            outline: none;
            &.wpcf7-not-valid{
                border-color: red;
            }
        }
        textarea{
            width: 100%;
            float: left;
            padding: 20px;
            height: 270px;
            line-height: 19px;
            font-weight: 300;
            font-size: 17px;
            color: #0F0F0F;
            border: 1px solid #DDDDDD;
            outline: none;
            resize: none;
            margin-bottom: 16px;
        }
        input[type="submit"]{
            float: right;
            width: 171px;
            height: 53px;
            line-height: 49px;
            background: #A0CA50;
            border-radius: 20px;
            font-weight: bold;
            font-size: 15px;
            letter-spacing: 0.1175em;
            text-transform: uppercase;
            color: #FFFFFF;
            cursor: pointer;
            border: 2px solid #A0CA50;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
            &:hover{
                background-color: #fff;
                color: #A0CA50;
            }
        }
    }
}
div.wpcf7-response-output{
    width: 100%;
    float: left;
    text-align: center;
    border-width: 1px;
    padding: 15px;
    text-transform: uppercase;
    font-size: 12px;
}
span.wpcf7-not-valid-tip{
    font-size: 10px;
    position: absolute!important;
    bottom: -15px;
    left: 0;
}
@include media-breakpoint-down(md) {
    .table__price .table__header .table__row .table__cell .cell__content{
        font-size: 20px;
    }
    .contact__form form .col__half{
        width: 100%;
        padding: 0;
    }
}
/*Massage page*/
.benefit__block{
    width: 100%;
    height: 460px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.147362);
    .benefit_image{
        width: 100%;
        height: 190px;
        display: flex;
        float: left;
        text-align: center;
        img{
            display: flex;
            margin: auto;
        }
    }
    .benefit__text{
        width: 100%;
        float: left;
        padding: 30px 35px 40px 35px;
        h4{
            font-weight: bold;
            font-size: 21px;
            text-transform: uppercase;
            color: #323232;
            &::after{
                content: '';
                width: 43px;
                height: 4px;
                display: block;
                background: #A0CA50;
                border-radius: 13px;
                margin: 10px 0 20px;
            }
        }
        p{
            margin-bottom: 0;
        }
    }
}
.service__table{
    width: 100%;
    height: 346px;
    float: left;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.147362);
    margin: 4px 0;
    .service__head{
        width: 100%;
        height: 105px;
        font-size: 27px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        color: #FFFFFF;
        background: #595959;
        display: flex;
        .service__cell{
            margin: auto;
        }
    }
    .service__body{
        width: 100%;
        height: 230px;
        display: flex;
        .service__cell{
            margin: auto;
            .service__row{
                width: 100%;
                display: block;
                font-weight: bold;
                margin: 27px auto;
                font-size: 27px;
                text-align: center;
                text-transform: uppercase;
                color: #000000;
                span{
                    color: #A0CA50;
                }
            }
        }   
    }
    .service__footer{
        width: 100%;
        height: 10px;
        background: #A0CA50;
    }
}
@include media-breakpoint-down(lg) {
    .benefit__block .benefit_image{
        height: 160px;
    }
    .benefit__block .benefit__text{
        padding: 10px 20px 20px;
        h4{
            font-size: 18px;
        }
    }
}
@include media-breakpoint-down(md) {
    .benefit__block{
        height: auto;
        float: left;
        margin-bottom: 10px;
    }
    .benefit__block .benefit_image{
        height: 190px;
    }
    .benefit__block .benefit__text{
        padding: 30px 35px 40px;
        h4{
            font-size: 21px;
        }
    }
    .service__table .service__head{
        font-size: 18px;
    }
    .map{
        height: 400px;
    }
    .gallery__slider .slide{
        height: 500px;
    }
    .gallery__slider .slick-arrow.slick-prev{
        left: 5%;
    }
    .gallery__slider .slick-arrow.slick-next{
        right: 5%;
    }
}