header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: transparent;
    z-index: 100;
    &.fixed{
        position: fixed;
        background: #242424;
    }
    &.dark{
        background: #242424;
        position: static;
        ul.sub-menu{
            background: #242424;
        }
    }
}
.header__logo{
    width: 86px;
    height: 67px;
    float: left;
    margin: 20px 0 0 10%;
}
.main__nav{
    float: right;
    margin-top: 39px;
    ul{
        padding: 0;
        margin: 0;
        list-style: none;
        li{
            display: inline-flex;
            margin: 0 20px 0 10px;
            position: relative;
            &:hover{
                ul{
                    opacity: 1;
                    visibility: visible;
                    -webkit-transform: translateX(0);
                    transform: translateX(0);
                }
            }
            &::before{
                content: '';
                width: 4px;
                height: 4px;
                margin: 7.5px 10px 0 0;
                display: block;
                float: left;
                border-radius: 50%;
                background-color: #fff;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
            }
            &.current-menu-item a{
                color: #A0CA50;
            }
            a{
                font-weight: bold;
                line-height: normal;
                font-size: 17px;
                text-transform: uppercase;
                color: #FFFFFF;
                text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
                &:hover{
                    text-decoration: none;
                    color: #A0CA50;
                }
            }
            ul{
                width: 300px;
                padding: 15px 35px;
                position: absolute;
                left: 0;
                top: 100%;
                text-align: left;
                opacity: 0;
                visibility: hidden;
                -webkit-transform: translateX(-50px);
                transform: translateX(-50px);
                -webkit-transition: all 0.5s ease;
                transition: all 0.5s ease;
                z-index: 100;
                li{
                    padding: 8px 0;
                    margin: 0;
                    &::before{
                        display: none;
                    }
                    a{
                        font-weight: bold;
                        line-height: normal;
                        text-transform: none;
                        font-size: 17px;
                        color: #C2C2C2;
                        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
                        &:hover{
                            color: #A0CA50;
                        }
                    }

                }
                
            }
        }
    }
}
.mobile__menu{
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
    background-color: #323232;
    top: 0;
    left: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    &.show__menu{
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    .main__nav{
        width: 70%;
        margin: 10px 20% 10px 10%;
        display: block;
        float: left;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        ul li{
            width: 100%;
            float: left;
            margin: 0;
            display: block;
            padding: 5px 0;
            a{
                font-size: 20px;
                display: block;
                width: 100%;
                float: left;
            }
            &::before{
                display: none;
            }
            ul{
                position: static;
                width: 100%;
                float: left;
                padding: 10px 0 0 30px;
                -webkit-transform: translateX(0);
                transform: translateX(0);
                opacity: 1;
                visibility: visible;
                li{
                    padding: 5px 0;
                    a{
                        font-size: 18px;
                        text-transform: uppercase;
                        color: #fff;
                    }
                }
            }
        }
    }
}
.menu__btn{
    width: 46px;
    height: 34px;
    display: block;
    position: absolute;
    top: 30px;
    right: 10%;
    display: none;
    cursor: pointer;
    z-index: 2000;
    span{
        width: 38px;
        height: 3px;
        background-color: #fff;
        position: absolute;
        left: 4px;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        &:nth-child(1){
            top: 3px;
        }
        &:nth-child(2){
            top: 15px;
        }
        &:nth-child(3){
            top: 27px;
        }
    }
    &.show__menu{
        position: fixed;
        span{
            background-color: #A0CA50;
            &:nth-child(1){
                top: 15px;
                -webkit-transform: rotate(135deg);
                -moz-transform: rotate(135deg);
                -o-transform: rotate(135deg);
                transform: rotate(135deg);
            }
            &:nth-child(2){
                opacity: 0;
                left: -40px;
            }
            &:nth-child(3){
                top: 15px;
                -webkit-transform: rotate(-135deg);
                -moz-transform: rotate(-135deg);
                -o-transform: rotate(-135deg);
                transform: rotate(-135deg);
            }
        }
    }
}
@include media-breakpoint-down(lg) {
    .main__nav ul li{
        margin: 0 10px 0 0px;
    }
}
@include media-breakpoint-down(md) {
    .main__nav{
        display: none;
    }
    .menu__btn{
        display: block;
    }
    header.dark ul.sub-menu{
        background: transparent;
    }
}