@-webkit-keyframes flip-logo {
    0%  {-webkit-transform: rotateY(0deg);}
    100% {-webkit-transform: rotateY(360deg);}   
}
@-moz-keyframes flip-logo {
    0%  {-moz-transform: rotateY(0deg);}
    100% {-moz-transform: rotateY(360deg);}
}
@-o-keyframes flip-logo {
    0%  {-o-transform: rotateY(0deg);}
    100% {-o-transform: rotateY(360deg);}
}
@keyframes flip-logo {
    0%  {transform: rotateY(0deg);}
    100% {transform: rotateY(360deg);}
}
.loader__wrapper{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 9999;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
    &.hide__wrapper{
        opacity: 0;
        visibility: hidden;
    }
    .loader__image{
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        img{
            -webkit-animation: flip-logo 1.5s infinite linear;
            -moz-animation:    flip-logo 1.5s infinite linear;
            -o-animation:      flip-logo 1.5s infinite linear; 
            animation:         flip-logo 1.5s infinite linear;
        }
    }
}